.wrapper {
    padding-bottom: 74px;
}

.course-list {
    padding: 50px 44px 0 34px;
}

.course-list__wrapper {

}

.course-list__name {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-size: 24px;
    margin: 16px auto -10px 0;
}

.course-list__name-wrapper-a {
    text-decoration: none;
    color: #242424;
}

.show-all a {
    padding: 8px 0 8px 8px;
    margin-right: 4px;
    font-size: 15px;
    font-weight: 600;
    color: #f05123;
    background-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

.show-all a {
}

.course-list__content {

}

.course-list__content-wrapper {

}

.course-item {
    margin-top: 36px;
}

.course-item__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
    background: #00000008;
    transition: transform .2s, box-shadow .2s;
}

.course-item__wrapper:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px #0000001a;
}

.course-item__img img {
    width: 100%;
    height: 139px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}

.course-item__img a {
    position: relative;
    display: block;
    text-decoration: none;
}

.course-item__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    gap: 10px;
}

.course-name {
    
}

.course-name a {
    text-decoration: none;
    color: #292929;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow-wrap: break-word;
}

.course-price {
    margin-bottom: 16px;
}

.course-price__old {
    font-size: 14px;
    text-decoration: line-through;
}

.course-price__main {
    font-size: 16px;
    font-weight: 600;
    color: #f05123;
    margin-left: 6px;
}

.course-price__free {
    font-size: 16px;
    font-weight: 600;
    color: #f05123;
}

.course-footer {
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size: 14px;
    margin-top: auto;
}

.course-author {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-author__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-author__avatar img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    object-fit: cover;
    transform: translateY(1px);
}

.course-author span {
    display: block;
    margin-left: 6px;
}

.course-time,
.course-members {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-time span,
.course-members span {
    margin-left: 6px;
}

.show-all {

}

.video-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.video-play-wrapper {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-play-wrapper svg {
    color: #333;
    font-size: 13px;
}

.video-duration {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 7px 12px;
    border: 2px solid #fff;
    border-radius: 999px;
}
