/* Header left page */

.header-left-page {
    min-width: 212px;
    display: flex;
    align-items: center;
}

.header-left-page h1 {
    display: flex;
    align-items: center;
}

.header-left-page a:first-child {
    display: flex;
    align-items: center;  /* Căn giữa theo chiều dọc */
    justify-content: center;  /* Căn giữa theo chiều ngang */
}

.logo {
    height: 38px;
    border-radius: 8px;
}

.target {
    font-size: 14px;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    margin-left: 18px;
}