/* Header center page */

.header-center-page {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Search */

.search-bar {
    display: flex;
    align-items: center;
    width: 420px;
    height: 40px;
    border: 1px solid #333;
    padding: 0 16px 0 8px;
    border-radius: 30px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 30px;
    height: 32px;
    color: #888;
    margin-right: 4px;
}


.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding-top: 4px;
}