/* Header center page */
.header-center-page {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Search bar */
.search-bar {
    display: flex;
    align-items: center;
    width: 420px;
    height: 40px;
    border: 2px solid #e2e2e2; // Viền mặc định
    padding: 0 16px 0 8px;
    border-radius: 30px;
    transition: border 0.3s ease; // Hiệu ứng chuyển đổi mượt mà

    /* Khi có class 'focused', thay đổi border */
    &.focused {
        border-color: #333; // Màu viền khi input được focus
    }
}

/* Search icon */
.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 30px;
    height: 32px;
    color: #888;
    margin-right: 4px;
}

/* Search input */
.search-input {
    flex: 1;
    border: none; // Không cần border cho input
    outline: none; // Loại bỏ outline mặc định
    padding-top: 4px;
}
