.account-pop-pup-wrapper {
    z-index: 9999;
    position: absolute;
    inset: 0px 0px auto auto;
    margin: 0px;
    transform: translate3d(-28px, 57.3333px, 0px);
}

@keyframes fadeIn {
    0% {
    opacity: 0; /* Bắt đầu trong suốt */
    }
    100% {
    opacity: 1; /* Hoàn toàn hiển thị */
    }
}

.account-pop-pup {
    min-width: 230px;
    padding: 8px 24px !important;
    background: #fff;
    box-shadow: 0 -4px 32px #0003;
    transition: all ease-in-out .3s;
    animation: fadeIn ease .3s;
    border-radius: 10px;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    will-change: opacity, transform;
    color: #1d2129;
}

.account-pop-pup hr {
    margin: 8px 0;
    border: none;
    border-top: solid 1px rgba(0, 0, 0, .05);
}

.account-pop-pup a {
    text-decoration: none;
}

.account-user {
    display: flex;
    align-items: center;
}

.avatar-wrapper {
    position: relative;
    margin: 10px 0;
}

.avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.info {
    margin-left: 20px;
}

.name {
    font-size: 16px;
    font-weight: 600;
    color: #292929;
}

.user-name {
    // margin-top: 6px;
    font-size: 14px;
    color: #757575;
}

.account-list {
    padding-left: 0;
    margin: 0;
}

.account-item {
    font-size: 14px;
    color: #666;
    display: block;
    padding: 10px 0;
    cursor: pointer;
    line-height: 14px;
}

.account-item:hover {
    color: #292929;
}